* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #191513;
}

.container {
  height: 100vh;
  width: 100%;
  position: relative;
  background: #191513;
}

.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.logo img {
  width: 70px;
  cursor: pointer;
  margin: 35px 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #999;
  font-size: 12px;
  padding: 5px 2px;
}

nav ul li a:hover {
  color: #fff;
  border-bottom: 3px solid #eea16d;
}

.content-row {
  display: flex;
  align-items: center;
  width: 85%;
  margin: auto;
}

.left-col,
.right-col {
  flex-basis: 50%;
}

.left-col {
  padding: 50px 0;
}

.search {
  width: 260px;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  block-size: border-box;
  border: 1px solid #4e3829;
  border-radius: 20px;
}

.search1 {
  color: #eea16d;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.8;
}

.search input {
  width: 100%;
  outline: none;
  border: 0;
  color: #999;
  background: transparent;
  font-size: 14px;
}

hr {
  width: 100%;
  height: 4px;
  background: #eea16d;
  border: none;
  margin: 30px 0;
}

h1 {
  color: #fff;
  font-size: 30px;
  letter-spacing: 2px;
}
p {
  color: #999;
  font-size: 14px;
  margin: 30px 0;
  line-height: 22px;
}
.indicator {
  display: flex;
}
span {
  width: 5px;
  height: 5px;
  border: 1px solid #eea16d;
  border-radius: 50%;
  margin-right: 5px;
}

.active {
  background: #eea16d;
}

.right-col img {
  width: 100%;
}

.social-links {
  position: absolute;
  right: 30px;
  top: 50px;
  transform: translateY(-50%);
  margin: 330px 20px 0 0;
  align-items: center;
  justify-content: center;
}
.social-links i {
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
